<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {{ partial "header.html" . }}
  <main id="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $siteJs := resources.Get "js/site.js" | minify | fingerprint }}
  <script src="{{ $siteJs.RelPermalink }}" defer></script>
  {{ $heroJs := resources.Get "js/hero.js" | minify | fingerprint }}
  <script src="{{ $heroJs.RelPermalink }}" defer></script>
</body>
</html>
